*
{
  margin: 0;
  padding: 0;
}
.part-01 {
  width: 100%;
  height: calc(500px - 6px);
  border-bottom: 6px solid #ff8300;
  overflow: hidden;
  background-image: url(background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

.jet {
  width: 400px;
  position: absolute;
  right: 0px;
  top: 40%;
  transform: rotate(8deg);
}
.pic img
{
  height: 100%;
  width: 100%;
}